.gitignore

# C++
bin/
obj/
*.o
main
*.cbp
*.layout
lab2
main

# C#
Dockerfile
.idea/
*.user
*.db

# Java

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Автосборка IDEA
out/

# Временные файлы
*.log
Java/out.txt
